<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Dashboard</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
<h2>Welcome, <%= user.username %>!</h2>
<div class="navbar">
    <a href="/qr-code">QR Code</a>
    <a href="/nodemailer">Nodemailer</a>
    <a href="/bmi">BMI Calculator</a>
    <a href="/weather">Weather API</a>
    <a href="/crud">CRUD</a>
    <a href="/logout" class="logout">Log Out</a>
</div>

</body>
</html>
